{% extends 'base.html.twig' %}
{# {% form_theme registrationForm 'bootstrap_5_layout.html.twig' %} #}
{% block title %}Se Connecter!{% endblock %}

{% block body %}

    <section class="section-form pt_120 my-5 pb-3">
        <div class="container">
            <div class="row">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success" role="alert">{{ message }}</div>
                {% endfor %}
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                Vous êtes connectés en tant que {{ app.user.userIdentifier }}, <a
                                        href="{{ path('app_logout') }}">Déconnectez-vous.</a>
                            </div>
                        {% endif %}

                        <h1 class="h3 mb-3">Se Connecter</h1>
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                   class="form-control" autocomplete="email" required autofocus>
                        </div>

                        <div class="mb-3">
                            <label for="inputPassword" class="form-label">Mot De Passe</label>
                            <input type="password" name="password" id="inputPassword" class="form-control"
                                   autocomplete="current-password" required>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

{#                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
{#                        See https://symfony.com/doc/current/security/remember_me.html#}
                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Se souvenir de moi
                            </label>
                        </div>
                        <div class="d-grid gap-2 my-5">
                            <button class="btn btn-lg btn-primary rounded-0 cc-text-white" type="submit">
                                Se Connecter <i class="fas fa-sign-in-alt"></i>
                            </button>
                            <div class="d-flex w-100 justify-content-center align-items-center">
                                <a href="{{ path('app_register') }}" class="text-center mt-1 mx-2">Créer un compte.</a> |
                                <a href="{{ path('app_forgot_password_request') }}" class="text-center mt-1 mx-2">Mot de passe oublié.</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
