<aside class="single_sidebar_widget author_widget">
    <img class="author_img rounded-circle cc-bg-secondary p-3" width="160" src="{{ userPic }}" alt="Photo de profil de {{ userPic }}">
    <h4>{{ userFullname }}</h4>
    <p>{{ userJobTitle }}</p>
    <div class="social_icon">
        <a href="https://www.facebook.com/codingcity237" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://twitter.com/Nephilim237" target="_blank"><i class="fa-brands fa-square-twitter"></i></a>
        <a href="https://www.instagram.com/codingcity237/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="https://www.youtube.com/@CodingCity" target="_blank"><i class="fa-brands fa-square-youtube"></i></a>
    </div>
    <p>{{ userBio | raw }}</p>
    <div class="br"></div>
</aside>