<!--================ start footer Area  =================-->
<footer class="footer-area p_120">
    <div class="container">
        <div class="row">
            <div class="col-lg-2  col-md-6 col-sm-6">
                <div class="single-footer-widget tp_widgets">
                    <h6 class="footer_title">Top Products</h6>
                    <ul class="list">
                        <li><a href="#">Managed Website</a></li>
                        <li><a href="#">Manage Reputation</a></li>
                        <li><a href="#">Power Tools</a></li>
                        <li><a href="#">Marketing Service</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2  col-md-6 col-sm-6">
                <div class="single-footer-widget tp_widgets">
                    <h6 class="footer_title">Quick Links</h6>
                    <ul class="list">
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Brand Assets</a></li>
                        <li><a href="#">Investor Relations</a></li>
                        <li><a href="#">Terms of Service</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2  col-md-6 col-sm-6">
                <div class="single-footer-widget tp_widgets">
                    <h6 class="footer_title">Features</h6>
                    <ul class="list">
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Brand Assets</a></li>
                        <li><a href="#">Investor Relations</a></li>
                        <li><a href="#">Terms of Service</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2  col-md-6 col-sm-6">
                <div class="single-footer-widget tp_widgets">
                    <h6 class="footer_title">Resources</h6>
                    <ul class="list">
                        <li><a href="#">Guides</a></li>
                        <li><a href="#">Research</a></li>
                        <li><a href="#">Experts</a></li>
                        <li><a href="#">Agencies</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <aside class="f_widget news_widget">
                    <div class="f_title">
                        <h3 class="footer_title">Newsletter</h3>
                    </div>
                    <p>Stay updated with our latest trends</p>
                    <div id="mc_embed_signup">
                        <form target="_blank" action="" method="get" class="subscribe_form relative">
                            <div class="input-group d-flex flex-row">
                                <input name="EMAIL" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                <button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>
                            </div>
                            <div class="mt-10 info"></div>
                        </form>
                    </div>
                </aside>
            </div>
        </div>
        <div class="row footer-bottom d-flex justify-content-between align-items-center">
            <p class="col-lg-8 col-md-8 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            <div class="col-lg-4 col-md-4 footer-social">
                <a href="https://www.facebook.com/codingcity237" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://twitter.com/Nephilim237" target="_blank"><i class="fa-brands fa-square-twitter"></i></a>
                <a href="https://www.instagram.com/codingcity237/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="https://www.youtube.com/@CodingCity" target="_blank"><i class="fa-brands fa-square-youtube"></i></a>
            </div>
        </div>
    </div>
</footer>
<!--================ End footer Area  =================-->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src=" {{ asset('js/jquery-3.3.1.min.js') }}"></script>
<script src=" {{ asset('js/popper.js') }}"></script>
<script src=" {{ asset('js/bootstrap.min.js') }}"></script>
<script src=" {{ asset('js/stellar.js') }}"></script>
<script src=" {{ asset('vendors/lightbox/simpleLightbox.min.js') }}"></script>
<script src=" {{ asset('vendors/nice-select/js/jquery.nice-select.min.js') }}"></script>
<script src=" {{ asset('vendors/isotope/imagesloaded.pkgd.min.js') }}"></script>
<script src=" {{ asset('vendors/isotope/isotope.pkgd.min.js') }}"></script>
<script src=" {{ asset('vendors/owl-carousel/owl.carousel.min.js') }}"></script>
<script src=" {{ asset('vendors/popup/jquery.magnific-popup.min.js') }}"></script>
<script src=" {{ asset('js/jquery.ajaxchimp.min.js') }}"></script>
<script src=" {{ asset('vendors/counter-up/jquery.waypoints.min.js') }}"></script>
<script src=" {{ asset('vendors/counter-up/jquery.counterup.js') }}"></script>
<script src=" {{ asset('js/mail-script.js') }}"></script>
<script src=" {{ asset('js/theme.js') }}"></script>

<!-- Template Javascript -->
<script src="{{ asset('js/main.js') }}"></script>