<!--================Header Menu Area =================-->
<header class="header_area">
    <div class="top_menu row m0">
        <div class="container d-flex justify-content-between">
            <div class="">
                <ul class="list header_social">
                    <li><a href="https://www.facebook.com/codingcity237" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/Nephilim237" target="_blank"><i class="fa-brands fa-square-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/codingcity237/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a></li>
                    <li><a href="https://www.youtube.com/@CodingCity" target="_blank"><i class="fa-brands fa-square-youtube"></i></a></li>
                </ul>
            </div>
            <div class="d-flex justify-content-end align-items-center">
                <a class="dn_btn d-flex justify-content-end align-items-center gap-2" href="tel:+237694372572"><i class="fa-solid fa-phone"></i>
                    +237 6
                    94 37 25 72</a>
                <a class="dn_btn d-flex justify-content-end align-items-center gap-2" href="mailto:codingcity237@gmail.com"><i class="fa-solid
                fa-envelope"></i> codingcity237@gmail.com</a>
            </div>
        </div>
    </div>
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="{{ path('cc_home') }}">
                    <img src="{{ asset('svg/logo3.svg') }}" alt="logo de Coding City" width="50">
                    <img src="{{ asset('svg/brand.svg') }}" alt="Marque de Coding City" height="40">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav mx-auto">
                        <li class="nav-item active"><a class="nav-link" href="{{ path('cc_home') }}">Accueil</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('cc_blog') }}">Blog</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Courses</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="courses.html">Courses</a>
                                <li class="nav-item"><a class="nav-link" href="course-details.html">Course Details</a></li>
                            </ul>
                        </li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Pages</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="elements.html">Elements</a></li>
                            </ul>
                        </li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Blog</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                                <li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                    </ul>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <ul class="nav navbar-nav">
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle text-capitalize d-flex align-items-center justify-content-center gap-2"
                                   data-bs-toggle="dropdown"
                                   role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    <img src="{{ app.user.avatar.avatar }}" alt="Image de profil de {{ app.user.fullname }}" width="28"
                                         height=""
                                         class="rounded-circle">
                                    {{ app.user.fullname ?? app.user.email }}
                                    <i class="fa-solid fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    {% if app.user and is_granted('ROLE_ADMIN') %}
                                        <li class="nav-item">
                                            <a href="#" class="dropdown-item"><span class="material-icons-sharp">dashboard</span>
                                                Administration
                                            </a>
                                        </li>
                                    {% endif %}

                                    <li class="nav-item">
                                        <a href="#" class="dropdown-item">
                                            <span class="material-icons-sharp">manage_accounts</span> Mon Profil
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('app_logout') }}" class="dropdown-item">
                                            <span class="material-icons-sharp">logout</span>
                                            Déconnexion
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="btn btn-link ">Connexion<i
                                    class="fas fa-sign-in-alt ms-3"></i></a>
                        <a href="{{ path('app_register') }}" class="btn btn-primary text-white">Rejoignez-nous<i
                                    class="fa fa-door-open ms-3"></i></a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
</header>
<!--================Header Menu Area =================-->