{% extends 'base.html.twig' %}
{% form_theme requestForm 'bootstrap_5_layout.html.twig' %}

{% block title %}Réinitialisez votre mot de passe{% endblock %}

{% block body %}
    <section class="section-form my-5 pb-3 pt_120">
        <div class="container">
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    {% for flash_error in app.flashes('reset_password_error') %}
                        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                    {% endfor %}
                    <h1 class="h3 fw-light">Réinitialisez votre mot de passe</h1>

                    {{ form_start(requestForm) }}
                    <div class="mb-3">
                        {{ form_row(requestForm.email) }}
                    </div>
                    <div>
                        <small>
                            Vous avez demandé réinitialiser votre mot de passe, renseignez votre email. Nous vous
                            enverrons un
                            lien de réinitialisation
                        </small>
                    </div>
                    <div class="my-4 d-grid gap-2">
                        <button class="btn btn-primary btn-lg rounded-0 text-white" type="submit">Demander un lien de réinitialisation</button>
                        <div class="d-flex w-100 justify-content-center align-items-center">
                            <a href="{{ path('app_register') }}" class="text-center mt-1 mx-2">Créer un compte.</a> |
                            <a href="{{ path('app_login') }}" class="text-center mt-1 mx-2">J'ai déjà un compte.</a>
                        </div>
                    </div>
                    {{ form_end(requestForm) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
